    /*Global Styles*/
    
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: "Montserrat", sans-serif;
        width: 100%;
        margin: 0;
    }
    /*Header Area*/
    
    header {
        width: 100%;
        background-color: #f7f7f7;
        margin: 0 auto;
    }
    
    nav.nav-wrapper {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 23px 23px 0 23px;
        position: relative;
    }
    /*Navigation Buttons*/
    
    .nav-button {
        border: none;
        background-color: transparent;
        margin-left: 20px;
    }
    
    .nav-button .fas {
        font-size: 18px;
        color: #a5a5a5;
    }
    
    .panel-close-button {
        position: absolute;
        top: 25px;
        right: 25px;
    }
    /*Navigation Menu Items*/
    
    .nav-menu-panel {
        height: 100vh;
        width: 200px;
        position: fixed;
        top: 0px;
        right: 0px;
        border-left: 1px solid #888;
        background-color: #fff;
        z-index: 100;
        padding: 0 10px 15px 20px;
        transform: translateX(100%);
        transition: transform .3s ease-in-out;
    }
    
    .nav-menu-panel.visible {
        transform: translateX(0);
    }
    
    ul.nav-menu-group {
        list-style: none;
        padding: 0;
        margin: 25px 0;
    }
    
    ul.nav-menu-group li {
        display: block;
        margin: 10px 0;
        font-size: 13px;
    }
    
    ul.nav-menu-group li a {
        text-decoration: none;
        color: #333333;
    }
    
    ul.nav-menu-group span {
        text-transform: uppercase;
        color: #888888;
        font-size: 10.8px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    /*Social Menu Items*/
    
    .social-media-panel {
        position: absolute;
        width: 130px;
        border-radius: 4px;
        top: 50px;
        right: 50px;
        box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
        background-color: #fff;
        color: #222;
        padding: 12px;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }
    
    .social-media-panel.open {
        opacity: 1;
    }
    
    .social-media-panel .social-links {
        display: block;
        font-size: 14px;
        margin: 10px 0;
        display: flex;
        align-items: center;
    }
    
    .social-media-panel .social-links a {
        text-decoration: none;
        color: #666666;
        display: flex;
        align-items: center;
    }
    
    .social-links span {
        margin: 0;
        padding: 0;
    }
    
    .social-links img {
        margin-right: 10px;
    }
    /* Search Field Section */
    
    section.search-field {
        width: 100%;
        padding: 25px 10px;
        background-color: #f7f7f7;
    }
    
    .search-field-wrapper {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .homepage-logo {
        width: 200px;
    }
    
    .search-field-wrapper form {
        width: 100%;
        max-width: 665px;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    
    .search-field-wrapper form input[type="text"] {
        width: 100%;
        height: 3em;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-right: none;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
        padding: 0 10px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    
    .search-field-wrapper form .search-button {
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
        background-color: #fff;
        border-left: none;
        font-size: 1.25em;
        min-width: 26px;
        color: #999;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    
    .search-field-wrapper form .search-button:hover {
        color: #fff;
        background-color: #66ad57;
    }
    /***************************
     Layout Services section  @T
    ****************************/
    /* Containers */
    
    .container {
        max-width: 60%;
        margin: 0 auto;
    }
    
    .container-flex {
        display: flex;
        justify-content: space-between;
    }
    /*Services*/
    
    .services-title {
        font-size: 25px;
        line-height: 44px;
        text-align: center;
        padding-bottom: 5px;
        color: #353748;
        font-weight: 800;
        font-family: sans-serif;
    }
    
    .services-subtitle {
        color: #353748;
        font-size: 17px;
        line-height: 28px;
        text-align: center;
    }
    
    .container ol {
        list-style: none;
        display: flex;
        justify-content: center;
    }
    
    .container ol li {
        margin-right: 60px;
        margin-bottom: 0px;
        font-size: 16px;
        line-height: 28px;
        font-weight: 600;
        color: #353748;
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Icons */
    
    i.icon {
        color: #678FFF;
        margin-right: 0.5em;
    }
    
    .button {
        background-color: #678FFF;
        color: #FFFFFF;
        border-radius: 10px;
        padding: 1.1em 2.3em;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Rating stars */
    
    .link {
        text-align: center;
    }
    
    .rating {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #333333;
        font-family: sans-serif;
    }
    
    .rating-stars {
        font-size: .40rem;
        margin-top: 5em;
    }
    
    .rating-star {
        padding: .40em;
        font-size: .99em;
    }
    
    a.rating span {
        font-size: .70rem;
        margin-top: 2em;
        margin-left: 2em;
        font-weight: 600;
    }
    /*Features @T*/
    
    .feature {
        /*width: 28%;*/
        padding: 3em 0.90em;
        text-align: center;
        background: #E37151;
        border-radius: 25px;
        width: 270px;
    }
    /* h4 feature title*/
    
    .features-title {
        text-align: center;
        font-family: sans-serif;
        color: #353748;
        font-size: .90rem;
        font-weight: 600;
    }
    /*Privacy Section*/
    
    .privacy {
        background-color: #58b792;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 7em 0;
        color: #fff;
    }
    
    .privacy h2 {
        text-align: center;
        font-size: 2.3em;
        font-weight: 800;
    }
    
    .privacy p {
        text-align: center;
    }
    
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }
    
    .monster-img {
        background-color: #58b792;
        background-image: linear-gradient(#58b792, #ccff66);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .monster-img img {
        max-width: 100%;
    }
    
    .button {
        background-color: rgba(0, 0, 0, 0.5);
        margin: 20px 0;
    }
    
    .lower-section-info {
        display: block;
        text-align: center;
        margin: 0;
        padding-top: 0px;
        background-color: blue;
    }
    /* media queries @T */
    /* Extra small devices (portrait phones)*/
    
    @media (max-width: 991px) {
        #services .container {
            min-width: 100%;
            text-align: center;
        }
        .container-flex {
            flex-direction: column;
            align-items: center;
        }
        .container ol {
            align-items: flex-start;
            display: inline-block;
            text-align: left;
            margin-bottom: 2em;
        }
        .feature {
            width: 270px;
            margin-bottom: 1.2em;
        }
    }
    /* Small devices (landscape phones) */
    
    @media (min-width: 576px) {
        .container ol {
            display: flex;
        }
    }
    /* Large devices (desktops) */
    
    @media (min-width: 992px) {
        #services .container {
            min-width: 100%;
            text-align: center;
        }
        .container-flex {
            flex-direction: row;
            align-items: stretch;
        }
        .container ol {
            flex-direction: row;
            align-items: center;
        }
        .feature {
            width: 270px;
            margin: 0.9em;
        }
    }